* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

img {
  width: 100%;
}

body {
  background-color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.main {
  width: 1000px;
  margin: 0 auto;
  background: rgb(93, 93, 93);
}

.business-cards {
  padding: 20px;
}

.business-cards .cards-title {
  font-size: 42px;
  color: white;
}



.card {
  margin: 20px 0;
  
}